{% extends 'web/base.html' %}
{% load static %}
{% block change %}

    <form style="margin-left:auto; margin-right:auto" method="post">
    {% csrf_token %}
      <div class="form-group">
                    <label class="form-label" for="password">Пароль
                    </label>
                      {{ form.old_password }}
                      {{ form.old_password.errors }}
                  </div>
                    <div class="form-group">
                    <label class="form-label" for="passwordReply">Новый пароль
                    </label>
                      {{ form.new_password1 }}
                      {{ form.new_password1.errors }}
                  </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Подтверждение пароля
                        </label>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Сохранить
                      </button>
                    </div>

                  </div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    </form>
{% endblock change %}